@tailwind base;
@tailwind components;
@tailwind utilities;


 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-[#FFFCFD]
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 



/** scrollbar hidden */
.scrollbar-hiden::-webkit-scrollbar {
  display: none;
}


/** to animation  */

.hover-move p, .hover-move span {
  transition: transform 0.4s ease; /* Increased transition duration for smoothness */
}

.hover-move:hover p {
  transform: translateX(-5px);
}

.hover-move:hover span {
  transform: translateX(5px);
}


/**ITS for toast */
/* Styles for devices below medium size */
@media (max-width: 767px) {
  .Toastify__toast {
    font-size: 14px; /* Smaller font size */
    padding-left: 8px; /* Adjusted padding */
    padding-right: 8px; /* Adjusted padding */
    padding-top: 1px; /* Adjusted padding */
    padding-bottom: 1px; /* Adjusted padding */
  }
  .Toastify__close-button {
    font-size: 12px; /* Smaller close button */
  }
}

/* Styles for devices above medium size */
@media (min-width: 768px) {
  .Toastify__toast {
    font-size: 16px; /* Default or larger font size */
    padding: 12px; /* Default padding */
  }
  .Toastify__close-button {
    font-size: 14px; /* Default close button size */
  }
}
